In [1]:
from pycaret.regression import *
import pandas as pd

# 1. 데이터 불러오기
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [2]:
# 2. HLM을 위한 환경 설정
setup_data_HLM = setup(data = train_data, 
                       target = 'HLM', 
                       text_features = ['SMILES'], 
                       ignore_features = ['id', 'MLM'],
                       session_id = 123,
                       # use_gpu = True,
                       verbose = True
                      )

In [3]:
# 3. 여러 모델 학습 및 비교
best_HLM = compare_models(n_select=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [5]:
# 4. 모델 블렌딩
blended_HLM = blend_models(estimator_list = best_HLM)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [6]:
# 5. test 데이터를 사용하여 HLM 값 예측
predictions_HLM = predict_model(blended_HLM, data = test_data)

In [7]:
# 6. 예측된 HLM 값을 feature로 추가
train_data['HLM_predicted'] = predict_model(blended_HLM, data=train_data)['prediction_label']
test_data['HLM'] = predictions_HLM['prediction_label']

In [8]:
# 7. MLM을 위한 환경 설정
setup_data_MLM = setup(data = train_data, 
                       target = 'MLM', 
                       text_features = ['SMILES'], 
                       ignore_features = ['id'],
                       session_id = 123,
                       # use_gpu = True,
                       verbose = True
                      )

In [9]:
# 8. 여러 모델 학습 및 비교
best_MLM = compare_models(n_select=3)

Processing:   0%|          | 0/87 [00:00<?, ?it/s]

In [11]:
# 9. 모델 블렌딩
blended_MLM = blend_models(estimator_list = best_MLM)

Processing:   0%|          | 0/6 [00:00<?, ?it/s]

In [13]:
test_data['HLM'] = predictions_HLM['prediction_label']

In [14]:
# 10. test 데이터를 사용하여 MLM 값 예측
predictions_MLM = predict_model(blended_MLM, data = test_data)

In [15]:
# 11. 최종 예측값을 CSV로 저장
submission = test_data[['id']]
submission['MLM'] = predictions_MLM['prediction_label']
submission['HLM'] = predictions_HLM['prediction_label']
submission.to_csv('submission_pycaret_HLM_MLM.csv', index=False)